.invoicedetailid {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}
.invoicedetailname {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.rightaligncss{
 
  text-align: right;
}
.invoicestatuscss{
  color: green;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}
.invoiceunpaidstatuscss{
  color: rgba(190, 190, 75, 0.836);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}
.invoicedetailemail {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}
.invoicesdetailslabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #626262;
}
.invoicedetailsBD {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}
.invoicedetailsdata {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #000000;

}
.invoicesdetailtotalpay {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: #626262;
}

.invoicesdetailtotalvalue {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: #000000;
}
.invoicesdetailbuttons {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #03b2a5;
}
.invoicerefundcss{
  color: #03b2a5;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;

}

.invoicepdfcss {
  color: #03b2a5;
}
.invoicepdfcss:hover {
  color: white;
}
.invoicesdetailbuttons:hover {
  color: white;
}

.invoicedetailfirstID {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  color: #000000;
  margin-left: 20px;
}
.accordion-button:not(.collapsed) {
  color: #4dbd9d !important;
}
/* .accordion-button{
  color: #4dbd9d !important;
 

} */