.innercards{
    border:  1px solid #B9B9B9!important;
    border-radius: 1px;
    padding: 20px;
    
    
}
.bookingtitle{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    color: #333333;
    font-size: 23px;
}
.greencolor{
    
    background-color: #00BCAE;
    align-items: center;
    
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 100%;
    

}
.fontcolor{
    color: #00BCAE;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
}
.greybgcolor{
    color: #9C9C9C;
}
.arrowheightwidth{
    font-size: 24px;
}
.arrowpadding{
padding-top: 2 px!important;


    
}
.fontblackcolor{
    
color: #000000;
font-family: "Montserrat";
font-weight: 500;
font-size: 16px;
/* Size: 16px; */
}
.fontblackcolordates{
    color: #000000;
font-style: normal;
letter-spacing: 0.2px;
font-weight: 500;
font-size: 15px;
}
.bookingdetail{
    color: #000000;
font-family: "Montserrat";
font-weight: 600;
font-size: 19px;
font-style: normal;
}
.printbutton{
    font-family: "Montserrat";
font-weight: 600;
font-size: 14px;
font-style: normal;


}
.link {
    color: #000000;
  }
  .link:hover {
     color: #03B2A5;
  }