.headings{
    font-family: 'Montserrat';
    color: #474747;
    font-weight: 600 !important;
    font-size:18px !important;
}

.headings1{
    font-family: 'Montserrat';
    color: white;
    font-size:18px;
}
.dashboardtab1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #808A98;

}
.dashboaedfilter{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12.2353px;
line-height: 12px;
/* identical to box height, or 82% */

letter-spacing: -0.207576px;

color: #32698F;
}

.amount1{
    font-family: 'Montserrat';
    font-style: '';
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
}

.amount{
    font-family: 'Montserrat';
    font-style: '';
font-weight: 600;
font-size: 18px;
color: #333333;
}
.icons{
    color: #03B2A5;
}
.cardcss{
    background: #FFFFFF;
box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.12) !important;
border-radius: 5px;

}
.cardcss:hover {
   
    border: 2px solid #03B2A5;
}
.dashboardsecondcard{
    background-color: #03B2A5 !important;
}
.link {
    color: #000000;
  }
  .link:hover {
     color: #03B2A5;
  }