/* 
.imgheightwidth{
   
     height: 30px;
     width: 30px;
}
.imgdivcss{
    padding-left: 50px;
    padding-top: 20px;
    
} */
.modelfirsttitle1{
    font-family: "Montserrat";
font-style: normal;
font-weight: normal;
font-size: 20px;
}
.inputtilesbrandlocation{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;

}
